@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
:root {
  --white: #f2f2f2;
  --yellow: #f9a826;
  --dark-blue: #2f527b;
  --blue: rgb(96, 102, 208);
  --blue-alpha: rgba(96, 102, 208, 0.7);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background: url("/assets/images/background.png");
  background-position: center;
  background-size: 100% 100%;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: var(--dark-blue);
}

a {
  color: #016aba;
  text-decoration: none;
}

button {
  font-size: 100%;
}
img {
  width: 100%;
}

/* Reusable Classes */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-center-v {
  display: flex;
  align-items: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.button {
  padding: 10px 30px 10px;
  text-decoration: none;
  color: var(--white);
  background: var(--yellow);
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  opacity: 1;
  display: inline-block;
}

.button:hover {
  opacity: 0.9;
}

/* Home Section */
.section-home {
  text-align: center;
}
.container-home {
  gap: 3.6rem;
  margin-bottom: 1.2rem;
}
.title {
  font-size: 3.2rem;
  color: var(--white);
  text-transform: uppercase;
}

/* Quiz Section */
.title__quiz {
  font-size: 2.4rem;
  letter-spacing: 1px;
}
.quiz-card {
  background: var(--white);
  border-radius: 2.4rem;
  -webkit-border-radius: 2.4rem;
  -moz-border-radius: 2.4rem;
  -ms-border-radius: 2.4rem;
  -o-border-radius: 2.4rem;
  position: relative;
  padding: 6.4rem 2.4rem 2.4rem;
  min-width: 50rem;
  gap: 2.4rem;
}
.quiz-icon__quiz {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-50%);
}
.question {
  font-weight: 700;
  font-size: 2.4rem;
}
.options-box {
  gap: 1.8rem;
  color: var(--blue);
}
.option {
  padding: 1.2rem;
  font-size: 1.6rem;
  border-radius: 1.2rem;
  border: 1px solid var(--blue-alpha);
}
.btn-next {
  align-self: end;
}
