<p class="question">{{this.demo.title}}</p>
<ul class="options-box flex-col">
  {{#each this.demo.option as |option|}}
    <li><Option @options={{option}} /></li>
  {{/each}}
</ul>
{{#if this.isLastQn}}
  <LinkTo class="button btn-next" @route="result">Submit</LinkTo>
{{else}}
  <button class="button btn-next" type="button" {{on "click" this.increment}}>Next</button>
{{/if}}