{{page-title "Country Quiz"}}
<section class="section-home">
  <header class="container-home flex-center-v">
    <h1 class="title">Country Quiz</h1>
    <div class="quiz-icon"><img
        src="/assets/images/undraw_adventure_4hum 1.svg"
        alt="icon depicting a person going around the world"
      /></div>
  </header>
  <LinkTo @route="quiz" class="button btn-start">Start</LinkTo>
</section>