{{page-title "Country Quiz"}}
<body class="flex-center">
  <section class="section-quiz">
    <header class="container-quiz flex-center-v">
      <h1 class="title title__quiz">Country Quiz</h1>
    </header>
    <main class="quiz-card flex-col">
      <div class="quiz-icon quiz-icon__quiz"><img
          src="/assets/images/undraw_adventure_4hum 1.svg"
          alt="icon depicting a person going around the world"
        /></div>
      <p class="question">Kuala Lumpur is the capital of</p>
      <div class="options-box flex-col">
        <div class="option">
          <span class="option-num">A</span>
          <span class="option-value">Vietnam</span>
        </div>
        <div class="option">
          <span class="option-num">B</span>
          <span class="option-value">Malaysia</span>
        </div>
        <div class="option">
          <span class="option-num">C</span>
          <span class="option-value">Sweden</span>
        </div>
        <div class="option">
          <span class="option-num">D</span>
          <span class="option-value">Austria</span>
        </div>
      </div>
      <LinkTo @route="quiz" class="button btn-next">Next</LinkTo>
    </main>
  </section>
</body>