{{page-title "Country Quiz"}}
<section class="section-quiz">
  <main class="card result-card flex-col">
    <div class="quiz-icon quiz-icon__result"><img
        src="/assets/images/undraw_winners_ao2o 2.svg"
        alt="icon depicting a person going around the world"
      /></div>
    <div class="result-description"><p class="title-result">Results</p>
      <p class="content-result">You got
        <span class="correct-ans-count">{{this.model.score}}</span>
        correct answers</p>
    </div>
    <LinkTo @route="index" class="button btn-replay">Try Again</LinkTo>
  </main>
</section>